@model Portfolio.Models.PageInfo
@{
    ViewData["Title"] = "Joseph Tomlinson";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Security.Claims

<script>
    $(document).ready(function () {
        //Account Widget
        $.ajax({
            type: "GET",
            dataType: "HTML",
            url: "@Url.Action("Index", "Account")",
            success: function(result) {
                $("#account-widget").html(result);
            }
        })

        //Info Edit
        $("#edit-info").click(function() {
            $(".info-body").hide();
            $.ajax({
                type: "GET",
                dateType: "HTML",
                url: "@Url.Action("UpdateInfo")",
                success: function(result) {
                    let editPanel = $("#edit-info-form");
                    editPanel.removeClass("hidden");
                    editPanel.html(result);
                }
            });
        });
    });
</script>

<div class="container">
    <div class="text-center">
        <h1>Joseph Tomlinson</h1>
    </div>

    <div class="row">
        <div class="col-md-5">
            <div class="skills">
                <img src="~/images/SkillHex.png" />
            </div>
        </div>
        <div class="col-md-7 info-panel">
            <div id="edit-info-form" class="hidden">
                <h2>Loading Form...</h2>
            </div>
            <div class="info-body">
                <h2>@Model.Title</h2>
                <p>@Model.MainInfo</p>

                @if (User.Identity.IsAuthenticated)
                {
                    <p class="clickable" id="edit-info">Edit..</p>
                }
            </div>
        </div>
    </div>
</div>
<div class="page-lower">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Blog</h2>
                <p>Lorem Ipsum</p>
                @Html.ActionLink("More Posts..", "Index", "Blog")
            </div>
            <div class="col-md-6">
                <h2>Github Projects</h2>
            </div>
        </div>

        <div class="text-center" id="account-widget"></div>
    </div>
</div>


