@model Portfolio.Models.BlogPost
@{
    ViewData["Title"] = "Joseph Tomlinson";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h1>Submit New Blog Post</h1>

    @using (Html.BeginForm("Create", "Blog", FormMethod.Post))
    {

    <div class="form-group">
        @Html.LabelFor(blogPost => blogPost.Title)
        @Html.TextBoxFor(blogPost => blogPost.Title, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(blogPost => blogPost)
        @Html.TextAreaFor(blogPost => blogPost.Body, new { @class = "form-control" })
    </div>
    <input type="button" class="btn" value="Cancel" onclick="location.href='@Url.Action("Index")'" />
    <input type="submit" class="btn" value="Post" />
    }
</div>